<!-- templates/home.html-->

{% extends 'base.html' %}

{% block title %}Strona główna{% endblock %}

{% block content %}
    <h1>Witaj na stronie horoskopu dla par</h1>
    <form action="/result" method="post">
        {% csrf_token %}
        <label for="dateUser">Podaj dzień swoich urodzin</label>
        <input id="dateUser" type="date" name="dateUser">
        <select id="sex" name="sex">
            <option>Kobieta</option>
            <option>Mężczyzna</option>
        </select>


        <label for="datePartner">Podaj dzień urodzin partnera</label>
        <input id="datePartner" type="date" name="datePartner">
        <input type="submit" value="OK">
    </form>

{% endblock %}