<!-- templates/home.html-->

{% extends 'base.html' %}

{% block title %}Strona główna{% endblock %}

{% block content %}
    <h1>Wynik horoskopu</h1>
    <h2>Opis Usera: {{ userDescription }}</h2>
    <h2>Opis Partnera: {{ partnerDescription }}</h2>
    <h2>Opis Pary: {{ coupleDescription }}</h2>
{% endblock %}